#navbar {
    background-color: #7c0000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 15px;
}

a {

    color: 	#a8a8a8 !important;
    text-decoration: none;
    padding: 10px;
    }
    