#navbar {
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 15px;
    
}
.home {
    font-size: 26px;
    
}
a {

    color: 	brown !important;
    text-decoration: none !important;
    padding: 10px;
    }
    